body {
  background-color: antiqueWhite;
  font: normal 19pt Arial;
}

header {
  text-align: center;
  color: white;
}

section {
  color: gray;
  width: 600px;
  background-color: white;
  margin: auto;
  border: solid black 1px;
  border-radius: 10px;
  padding: 15px;
  box-shadow: -10px 10px 10px  rgba(0, 0, 0, 0.678);
}

div#res {
  border: solid black 1px;
}

input#tst {
  border: solid 1px;
  height: 30px;
  width: 100px;
  color: blue;
  border-radius: 5px;
}

input#avi {
  color: blue;
  border: solid blue 1px;
  border-radius: 5px;
}

input.inp {
  color: blue;
  border: solid blue 1px;
  border-radius: 5px;
}

footer {
  font-style: italic;
}

input#fullscreen {
  color: blue;
  border: solid blue 1px;
  border-radius: 5px;
  font-family: 'helvetica neue';
  helvetica, sans-serif;
  letter-spacing: 1px;
  text-transform: uppercase;
  box-shadow: -3px 3px 3px;
}

span.instagram {
  font-size: 20px;
}

:fullscreen {
  background-color: antiqueWhite;
}